<h2>Su Producto Seleccionado</h2>
<hr>

<p>Codigo del Producto: {{product.code}}</p>
<p>Marca: {{product.title}}</p>
<p>Detalle: {{product.description}}</p>
<p>Categoria: {{product.category}}</p>
<p>precio: {{product.price}}</p>
<button onclick="addToCart('pid')">Agregar al carrito</button>


<br>
<button onclick="window.location.href='/products'">Volver</button>

<script>

    const addToCart = async (pid) => {
  let quantity = 1; // Cantidad por defecto
  try {
    let respuesta = await fetch(`http://localhost:8080/api/carts/${pid}`,
    {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ quantity: quantity }) // Envía la cantidad deseada
    });
    let data = await respuesta.json(); // Convertir la respuesta a JSON
  } catch (error) {
      console.error('Ha ocurrido un error:', error);
  }
}
</script>